body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}

.display {
    margin-bottom: 20px;
}

.display input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 2em;
    text-align: right;
    padding-right: 10px;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    border: none;
    outline: none;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0e0e0;
}

.operator {
    background-color: #ff9f0a;
    color: #fff;
}

.operator:hover {
    background-color: #e08e0a;
}